* {
    margin: 0;
    padding: 0;
}

.hero-background {
    color: #36394f;
    background-color: #f0fefd;
}

/* .hero-container {
    padding: 5rem 5rem 5rem 10rem;
} */

.my-hero-desc {
    font-size: 3rem;
}

@media all and (max-width: 700px) {
    .hero-container {
        padding: 1px;
    }
}

@media all and (max-width: 1300px) {
    .hero-container {
        padding: 3rem 3rem 3rem 3rem;
    }
}

@media all and (min-width: 1301px) {
    .hero-container {
        padding: 5rem 5rem 5rem 10rem;
    }
}