.footer {
    background-color: #f0fefd;
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.contact-icon-group {
    margin: 1.5rem;
    align-items: center;
}

.icon {
    color: #37394e;
    justify-self: center;
}

.icon:hover {
    color: #fe775e;
}

a:visited {
    color: #37394e;
}

.contact-icon-group > * {
    margin-right: 2rem;
}
