.footer {
    background-color: #f0fefd;
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.contact-icon-group {
    margin: 1.5rem;
    align-items: center;
}

.contact-icon-group > * {
    margin-right: 2rem;
}
