* {
  box-sizing: border-box;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 5rem 2rem 0;
  background-color: #f0fefd;
}

.navbar-highlight {
  background-color: #fe775e;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

li {
  transition: color 0.3s ease-out;
  text-align: center;
  font-weight: 1000;
  margin: 0 1rem;
}

.navbar-item {
  font-weight: 1000;
}

.navbar-item:hover {
  color: #fe775e;
}

.contact-bar {
  margin: 1rem 0 0 0;
}