* {
    box-sizing: border-box;
}

#contact-block {
    /* display: block; */
    background-color: #f0fefd;
    grid-template-columns: 1fr 1fr 1fr;
}

.contact-item {
    justify-items: end;
}

.icon {
    position: relative;
}