* {
    box-sizing: border-box;
}

#contact-block {
    display: flex;
    flex-direction: column;
    background-color: #f0fefd;
}

.contact-item {
    justify-items: end;
    color: #36394f;
}

.contact-item a {
    color: #36394f;
}

.icon {
    position: relative;
}