.App {
  background-color: #f0fefd;
}

h1 {
  font-size: 6rem;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 5rem;
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-size: 4em;
  font-family: 'Poppins', sans-serif;
}

h4 {
  font-size: 3rem;
  font-family: 'Roboto Mono', monospace;
}

h5 {
  font-size: 2rem;
  font-family: 'Roboto Mono', monospace;
}

p {
  font-size: 1rem;
  font-family: 'Roboto Mono', monospace;
}

.lead {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  color: #36394f;
}