.project-container {
    padding-top: 3rem;
    background-color: #f0fefd;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.project-header {
    text-align: right;
}

.project-images {
    display: grid;
    margin-bottom: 20px;
    justify-items: center;
}