.project-container {
    padding-top: 3rem;
    background-color: #f0fefd;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.project-header {
    text-align: right;
}

.project-images {
    display: grid;
    margin-bottom: 20px;
    justify-items: center;
}