#about-me {
    position: relative;
    padding: 2rem 1.5rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: #f0fefd;
}

.aboutme-container {
    padding: 2rem;
    background-color: #ffffff;
}

.lead {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: #36394f;
    padding-bottom: 2rem;
}

.aboutme-body {
    color: #36394f;
    font-family: 'Roboto Mono', monospace;
    line-height: 175%;
    margin-bottom: 2rem;
    font-weight: 400;
}